* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button, input, textarea {
    padding: 0;
    border: none;
    outline: none;
}

textarea {
    resize: none;
}

/* dancing-script-regular - latin */
@font-face {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 400;
    src: local("Dancing Script"), local("Dancing Script"),
    url("../fonts/dancing-script-v14-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/dancing-script-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-regular - latin */
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 400;
    src: local("Noto Serif"), local("NotoSerif"),
    url("../fonts/noto-serif-v8-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/noto-serif-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-italic - latin */
@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 400;
    src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
    url("../fonts/noto-serif-v8-latin-italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/noto-serif-v8-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab"),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --logo-font: 400 26px/41px "Dancing Script", sans-serif;
    --header-nav-menu-font: 400 14px/41px "Montserrat", sans-serif;
    --title-subtitle-form-font-family: "Montserrat", sans-serif;
    --title-subtitle-form-font-weight: 700;
    --description-section-font: 400 italic 16px/1.2 "Noto Serif", sans-serif;
    --golden-color: #fed136;
    --secondary-color: #222;
    --description-section-color: #777;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.logo {
    font: var(--logo-font);
    letter-spacing: 0.05em;
    color: var(--golden-color);
}

.header-nav-menu {
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
}

.header-nav-menu-list-item + .header-nav-menu-list-item {
    margin-left: 40px;
}

.header-nav-menu-link {
    font: var(--header-nav-menu-font);
    color: var(--secondary-color);
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.header-nav-menu-link:hover {
    color: var(--golden-color);
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.section-services {
    padding-top: 76px;
    padding-bottom: 122px;
}

.section-title {
    text-align: center;
    font-family: var(--title-subtitle-form-font-family);
    font-weight: var(--title-subtitle-form-font-weight);
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;
    color: var( --secondary-color);
    letter-spacing: -0.025em;
}

.section-description {
    font: var(--description-section-font);
    color: var(--description-section-color);
    text-align: center;
}

.services-list-items {
    justify-content: space-between;
    margin-top: 80px;
}

.services-list-item {
    text-align: center;
}

.subtitles-services-section-list-items {
    font-family: var(--title-subtitle-form-font-family);
    font-weight: var(--title-subtitle-form-font-weight);
    font-size: 18px;
    line-height: 75px;
    color: var( --secondary-color);
    text-transform: capitalize;
    letter-spacing: -0.025em;
}

.services-list-item::before {
      content: "";
      display: block;
      border: solid 3px var(--golden-color);
      border-radius: 50%;
      width: 72px;
      height: 72px;
      margin: 0 auto;
  }

.services-list-item:first-child::before {
    background: url("../img/icons/icon-basket.png") no-repeat center;
}

.services-list-item:nth-child(2)::before {
    background: url("../img/icons/icon-laptop.png") no-repeat center;
}

.services-list-item:nth-child(3)::before {
    background: url("../img/icons/icon-locked.png") no-repeat center;
}

.services-list-item-text-info {
    font: 400 14px/20px "Roboto Slab", sans-serif;
    color: var(--description-section-color);
    letter-spacing: -0.025em;
}

.section-contact-us {
    background: var(--secondary-color) url("../img/map-image.png") no-repeat right bottom 20px;
    padding-top: 106px;
    padding-bottom: 114px;
}

.services-section-title {
    color: #fff;
}

.form-of-contact {
    margin-top: 76px;
}

.inputs-form {
    justify-content: space-between;
}

.list-form-inputs {
    width: 454px;
}

.list-form-input + .list-form-input {
    margin-top: 26px;
}

.list-form-input input {
    width: 100%;
    border: solid 2px #ccc;
    border-radius: 2px;
    padding: 20px;
}

.list-form-input input:focus:valid {
    border-color: #008000;
}

.list-form-input input:focus:invalid {
    border-color: #ff0000;
}

.set-message {
    width: 454px;
}

.set-message textarea {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: solid 2px #ccc;
    border-radius: 2px;
}

.set-message textarea:focus:valid {
    border-color: #008000;
}

.set-message textarea:focus:invalid {
    border-color: #ff0000;
}

::placeholder {
    font-family: var(--title-subtitle-form-font-family);
    font-weight: var(--title-subtitle-form-font-weight);
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #bbb;
}

.form-btn {
    display: block;
    margin: 28px auto 0;
    text-transform: uppercase;
    font-family: var( --title-subtitle-form-font-family);
    font-weight: var(--title-subtitle-form-font-weight);
    font-size: 18PX;
    line-height: 1.2;
    color: #fff;
    background-color: var(--golden-color);
    padding: 24px 46px;
    border-radius: 2px;
    cursor: pointer;
}